<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8"/>
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" th:href="${#httpServletRequest.getContextPath()+'/static/x-admin/css/font.css'}"/>
    <link rel="stylesheet" th:href="${#httpServletRequest.getContextPath()+'/static/x-admin/css/xadmin.css'}"/>
    
    <script type="text/javascript" th:src="${#httpServletRequest.getContextPath()+'/static/js/jquery.min.js'}"></script>
    <script type="text/javascript" th:src="${#httpServletRequest.getContextPath()+'/static/x-admin/lib/layui/layui.js'}" charset="utf-8"></script>
    <script type="text/javascript" th:src="${#httpServletRequest.getContextPath()+'/static/x-admin/js/xadmin.js'}"></script>
  </head>
  
  <body>
    <div class="x-body layui-anim layui-anim-up">
        <form class="layui-form" th:object="${video}">
          <input type="hidden" th:field="*{id}"/>
          <div class="layui-form-item">
              <label for="L_email" class="layui-form-label">
                  <span class="x-red"></span>身体部位
              </label>
              <div class="layui-input-inline">
              	<select name="bodylocation" >
              		<option th:each="body:${bodys}" th:text="${body}" th:value="${body}" th:selected="${video.bodylocation eq body}"></option>
              	</select>
              </div>
          </div>
          
          <div class="layui-form-item">
              <label for="L_email" class="layui-form-label">
                  <span class="x-red"></span>BMI指数
              </label>
              <div class="layui-input-inline">
              	<select name="healthRadix" >
              		<option th:each="bmi:${bmis}" th:text="${bmi}" th:value="${bmi}" th:selected="${video.healthRadix eq bmi}"></option>
              	</select>
              </div>
          </div>
          
          <div class="layui-form-item">
              <label for="L_email" class="layui-form-label">
                  <span class="x-red"></span>日剩余热量(卡路里)
              </label>
              <div class="layui-input-inline">
              	<select name="remark1" >
              		<option th:each="hot:${hots}" th:text="${hot}" th:value="${hot}" th:selected="${video.remark1 eq hot}"></option>
              	</select>
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
              </label>
              <button  class="layui-btn" lay-filter="update" lay-submit="">修改</button>
          </div>
      </form>
    </div>
    
    <!--JS 定义的上下文 -->
    <script th:inline="javascript">     
        var contextPath= [[@{/}]];      
	</script>
	
    <script>
	    layui.use(['form','layer'], function(){
	        var form = layui.form,layer = layui.layer;
        
          //监听提交
          form.on('submit(update)', function(data){
       	    //异步提交数据
       	    $.post("/video/doUpdate.html",data.field,function(response){
       	    	if(response.success == true){
       	    	  layer.msg("修改成功", {icon: 6},function () {
                      // 获得frame索引
                      var index = parent.layer.getFrameIndex(window.name);
                      //关闭当前frame
                      parent.layer.close(index);
                      // 父页面刷新
                      parent.location.reload();
                  });
       	    	}else{
       	    		layer.alert(response.msg);
       	    	}
       	    });
          
            return false;
          });
          
        });
    </script>
  </body>

</html>